<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--无参构造-->
    <bean id="hello" class="com.tlk.pojo.Hello">
        <property name="str" value="Spring"/>
    </bean>
    <!--有参构造三种方式-->
    <!--bean id="hello2" class="com.tlk.pojo.Hello2">
        <constructor-arg index="0" value="Spring"/>
    </bean-->
    <!--bean id="hello2" class="com.tlk.pojo.Hello2">
        <constructor-arg type="java.lang.String" value="Spring"/>
    </bean-->
    <bean id="hello2" class="com.tlk.pojo.Hello2">
        <constructor-arg name="str" value="Spring"/>
    </bean>


</beans>