<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:util="http://www.springframework.org/schema/util"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:c="http://www.springframework.org/schema/c"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/util https://www.springframework.org/schema/util/spring-util.xsd">

    <bean id="address" class="com.tlk.pojo.Address">
        <property name="address" value="address1"/>
    </bean>

    <bean id="student" class="com.tlk.pojo.Student" scope="singleton">
        <!--普通值注入-->
        <property name="name" value="tlk"/>

        <!--Bean注入-->
        <property name="address" ref="address"/>

        <!--数组注入-->
        <property name="books">
            <array>
                <value>book1</value>
                <value>book2</value>
                <value>book3</value>
                <value>book4</value>
            </array>
        </property>

        <!--List注入-->
        <property name="hobbies">
            <list>
                <value>hobby1</value>
                <value>hobby2</value>
                <value>hobby3</value>
                <value>hobby4</value>
            </list>
        </property>

        <!--Map注入-->
        <property name="card">
            <map>
                <entry key="card1" value="password1"/>
                <entry key="card2" value="password2"/>
            </map>
        </property>

        <!--Set注入-->
        <property name="games">
            <set>
                <value>game1</value>
                <value>game2</value>
                <value>game3</value>
            </set>
        </property>

        <!--null注入-->
        <property name="wife">
            <null/>
        </property>

        <!--Properties注入-->
        <property name="info">
            <props>
                <prop key="prop1">info1</prop>
                <prop key="prop2">info2</prop>
                <prop key="prop3">info3</prop>
            </props>
        </property>
    </bean>

    <!--p命名注入，可以直接注入属性的值
    <bean id="user" class="com.tlk.pojo.User" p:name="tlk" p:age="23"/>-->
    <!--c命名注入，可以直接注入属性的值-->
    <bean id="user" class="com.tlk.pojo.User" c:name="tlk2" c:age="23"/>


</beans>